.update-form {
    padding-right: 5px;
}

.update-profile-btn {
    margin-right: 5px;
    margin-bottom: 5px;
}

img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 10px;
}