<app-top-bar></app-top-bar>
<div style="padding:1rem">
    <h1>Profile</h1>
    <p>Username: {{user.Username}}</p>
    <p>Email: {{user.Email}}</p>
    <p>Birthday: {{user.Birthday.slice(0,10)}}</p><br>

    <h2>Favourite Movies</h2>
    <div style="display: flex; flex-wrap: wrap;">
        <mat-card class="fav-card" *ngFor="let movie of favouriteMovies">
            <mat-card-title class="fav-title">{{movie.Title}}</mat-card-title>
            <img mat-card-md-image class="fav-img" src="{{movie.ImagePath}}" />
        </mat-card>
    </div>
    <h2>Update Your Profile</h2><br>
    <form>
        <mat-form-field class="update-form">
            <input matInput [(ngModel)]="userData.Password" minlength="8" type="password" placeholder="Password"
                name="Password" required>
        </mat-form-field>
        <mat-form-field class="update-form">
            <input matInput [(ngModel)]="userData.Email" type="email" placeholder="Email" name="Email" required>
        </mat-form-field>
        <mat-form-field class="update-form">
            <input matInput [(ngModel)]="userData.Birthday" type="date" placeholder="Birthday" name="Birthday">
        </mat-form-field>
    </form><br>
    <button class="update-profile-btn" mat-raised-button (click)="editUser()">
        Update
    </button>

    <button mat-raised-button (click)="deleteUser()" color="warn">Remove account</button>
</div>