.custom-info-dialog {
    background-color: #D8A22A;
    color: #000;
    border-radius: 5px;
    height: fit-content;

    .custom-card-header {
        mat-card-title {
            font-size: x-large;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }

    .custom-card-actions {
        button {
            color: #000;
        }
    }
}