<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>

<mat-card class="custom-info-dialog">
    <mat-card-header class="custom-card-header">
        <mat-card-title>{{data.dialogTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{data.dialogContent}}</mat-card-content>
    <mat-card-actions class="custom-card-actions"><button mat-button mat-dialog-close>Close</button></mat-card-actions>
</mat-card>

</html>